<h2> Create A New Session </h2>
<% if flash[:error] %>
<h3><%= flash[:error] %> </h3>
<% end %>
<div class="form-group">
    <form method="POST" action="/recordingsessions">
    <div id="new-session">
    <h6> * indicates a required field. </h6>
        <ul>
            <li><label for= "client_name">*Client Name:</label></li>
            <li><input type="text" name="client[name]" id="client_name"></li></br>
            <li><label for= "client_email">*Client Email:</label></li>
            <li><input type="text" name="client[email]" id="client_email"></li></br>
            <li><label for= "client_genre">Client Genre:</label></li>
            <li><input type="text" name="client[genre]" id="client_genre"></li></br>
            <li><label for= "client_budget">Client Budget:</label></li>
            <li><input type="text" name="client[budget]" id="client_budget"></li></br>
            <li><label for = "start_date">*Start Date: </label></li>
            <li><input type="date" name="recording_session[start_date]" id="start_date"></li></br>
            <li><label for = "end_date">End Date:</label></li>
            <li><input type="date" name="recording_session[end_date]" id="end_date"></li></br>
            <li><label for = "per_hour"> Rate Per Hour: $</label></li>
            <li><input type="text" name="recording_session[per_hour]" id="per_hour"></li></br>
            <li><label for = "hours_per_day"> Hours Per Day:</label></li>
            <li><input type="text" name="recording_session[hours_per_day]" id="hours_per_day"></li></br>
        </ul>
    </div>
    </br>
    <h4>More Client Options </h4>
    <%# <h6>Check any that apply</h6> %>
    <div id="client-options">
        <ul>
            <li><label for= "client_producer"> Is the client bringing their own producer(s)?</label></li>
            <%# <li><input type="checkbox" id="client_yes" name="client[has_producer?]" value="true"></li> %>
            <li>Yes: <input type="radio" name="client[has_producer?]" value="true">
            No: <input type="radio" name="client[has_producer?]" value="false"></li>
            <%# <li>No<input type="radio" name="client[has_producer?]" value="false"></li> %>
            <%# <li><input type="hidden" id="client_no" name="client[has_producer?]" value="false"></li> %>
            <li><label for= "client_band"> Is the client bringing their own band?</label></li>
            <li>Yes: <input type="radio" name="client[band?]" value="true">
            No: <input type="radio" name="client[band?]" value="false"></li>
            <%# <li><input type="checkbox" id="client_yes" name="client[band?]" value="true"></li> %>
            <%# <li><input type="hidden" id="client_no" name="client[band?]" value="false"></li> %>
            <li><label for= "client_producer"> Is the client bringing their own drums?</label></li>
             <li>Yes: <input type="radio" name="client[drums?]" value="true">
            No: <input type="radio" name="client[drums?]" value="false"></li>
            <%# <li><input type="checkbox" id="client_yes" name="client[drums?]" value="true"></li> %>
            <%# <li><input type="hidden" id="client_no" name="client[drums?]" value="false"></li> %>
        </ul>
    <h5><label for="client_comments"> Additional Comments Regarding Client </h5>
    <textarea id="client_comments" name="client[additional_comments]" rows="4" cols="50">
    
</textarea>
    </div>
    <input type="Submit" value= "Create Session">
    </form>
<%  #see about jquery/javascript for default values for unchecked boxes %>