<h2> Create A New Session </h2>
<div class="form-group">
    <form method="POST" action="/recordingsessions">
    <div id="new-session">
    <h6> * indicates a required field. </h6>
        <ul>
            <li><label for= "client_name">*Client Name:</label></li>
            <li><input type="text" name="client[name]" id="client_name"></li></br>
            
            <% if @clients != [] %>
            <li> Or choose from a list of returning clients.</li>
            <select name="returning_client[name]" id="client_name">
            <option value = nil></option>
            <% @clients.each do |client|%>
            <option value="<%= client.name %>"><%= client.name %></option>
            <% end %>
            </select>
            <% end %>
            <li><label for= "client_email">*Client Email:</label></li>
            <li><input type="text" name="client[email]" id="client_email"></li></br>
            <li><label for= "recording_session_genre">Genre:</label></li>
            <li><input type="text" name="recording_session[genre]" id="recording_session_genre"></li></br>
            <li><label for= "recording_session_budget">Budget:</label></li>
            <li><input type="text" name="recording_session[budget]" id="recording_session_budget"></li></br>
            <li><label for = "start_date">*Start Date: </label></li>
            <li><input type="date" name="recording_session[start_date]" id="start_date"></li></br>
            <li><label for = "end_date">End Date:</label></li>
            <li><input type="date" name="recording_session[end_date]" id="end_date"></li></br>
            <li><label for = "per_hour"> Rate Per Hour: $</label></li>
            <li><input type="text" name="recording_session[per_hour]" id="per_hour"></li></br>
            <li><label for = "hours_per_day"> Hours Per Day:</label></li>
            <li><input type="text" name="recording_session[hours_per_day]" id="hours_per_day"></li></br>
        </ul>
    </div>
    </br>
    <h4>More Client Options </h4>
    <div id="client-options">
        <ul>
            <li><label for= "recording_session_producer"> Is the client bringing their own producer(s)?</label></li>
            <li>Yes: <input type="radio" name="recording_session[has_producer?]" value="true">
            No: <input type="radio" name="recording_session[has_producer?]" value="false"></li>
            <li><label for= "recording_session_band"> Is the client bringing their own band?</label></li>
            <li>Yes: <input type="radio" name="recording_session[band?]" value="true">
            No: <input type="radio" name="recording_session[band?]" value="false"></li>
            <li><label for= "recording_session_drums"> Is the client bringing their own drums?</label></li>
            <li>Yes: <input type="radio" name="recording_session[drums?]" value="true">
            No: <input type="radio" name="recording_session[drums?]" value="false"></li>
        </ul>
    <h5><label for="recording_session_comments"> Additional Comments Regarding Client </h5>
    <textarea id="recording_session_comments" name="recording_session[additional_comments]" rows="4" cols="50">
    
</textarea>
    </div>
    <input type="Submit" value= "Create Session">
    </form>

    <% if flash[:error] %>
<h3><%= flash[:error] %> </h3>
<% end %>
