
<h2 class="text-center display-1">StudioAssistant</h2>
<h4 class= "text-center display-4">Your Recording Session And Client Resource</h4>
<% if validate_login && current_user.name %>
<hr>
<h5 class = "text-center font-weight-light m-3">Welcome back <%= current_user.name%></h5>
<hr>
<% end %>
<p class = "lead text-center"> Use StudioAssistant as your personal, uh, studio assistant. Create new sessions, along with client info, and let StudioAssistant generate a quick overview of your schedule so you're never unprepared.</p>
